{% extends 'base.html' %} {% load crispy_forms_tags %}

{% block content %}

<div class="d-flex justify-content-center py-4">
    <div class="p-4 card rounded-0 shadow" style="max-width: 60rem;width: 100%;">
        <div dir="rtl" class="py-1">
            <a href="/dash/brush/" class="btn btn btn-warning">بازگشت</a>
        </div>
        <h2 class="py-2 text-center fs-3 pb-4">افزودن کد جادویی</h2>
        <div class="py-2 row justify-content-center">
            <form dir="rtl" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <button class="w-100 btn btn-primary">ذخیره</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
